<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AffectoBot</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='cover.css') }}">
</head>
<body>

    {% if show_tos_modal %}
    <div class="custom-backdrop"></div>

    <div class="modal show" id="tosModal" tabindex="-1" role="dialog" aria-labelledby="tosModalLabel" aria-modal="true" style="display: block;">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="tosModalLabel">Terms of Service</h5>
                    </div>
                    <div class="modal-body">
                        <!-- Introduction Section -->
                        <h6>Introduction</h6>
                        <p>Welcome to AffectoBot. These Terms of Service ("Terms", "ToS") govern your use of our website located at affectobot.com (the "Service") operated by Grygoriy ("us", "we", or "our").</p>
                        
                        <!-- Account Information Section -->
                        <h6>Accounts</h6>
                        <p>When you create an account with us, you guarantee that the information you provide us is accurate, complete, and current at all times. Inaccurate, incomplete, or obsolete information may result in the immediate termination of your account on our Service.</p>
                        
                        <!-- Content Section -->
                        <h6>Content</h6>
                        <p>Our Service allows you to post, link, share, and otherwise make available certain information, text, graphics, videos, or other material. You are responsible for the Content that you post on or through the Service, including its legality, reliability, and appropriateness.</p>
        
                        <!-- Privacy Policy Section -->
                        <h6>Privacy Policy</h6>
                        <p>Your privacy is important to us. Our Privacy Policy explains how we collect, use, and share information about you. By using our Service, you agree to the collection, use, and sharing of your information as set forth in our Privacy Policy.</p>
        
                        <!-- Changes to Service Section -->
                        <h6>Changes to Service</h6>
                        <p>We reserve the right to withdraw or amend our Service, and any service or material we provide via the Service, in our sole discretion without notice. We will not be liable if for any reason all or any part of the Service is unavailable at any time or for any period.</p>
        
                        <!-- Termination Section -->
                        <h6>Termination</h6>
                        <p>We may terminate or suspend your account and bar access to the Service immediately, without prior notice or liability, under our sole discretion, for any reason whatsoever and without limitation, including but not limited to a breach of the Terms.</p>
        
                        <!-- Legal Notice About User Information Storage -->
                        <h6>Legal Notice About User Information Storage</h6>
                        <p>All personal information and user data are stored and processed in accordance with our Privacy Policy. By using our Service, you acknowledge that we may use third-party services to store and process your data, but we will always ensure that your information is handled with the utmost care and security. Your use of our Service signifies your agreement and consent to these practices.</p>
        
                        <!-- Governing Law Section -->
                        <h6>Governing Law</h6>
                        <p>These Terms shall be governed and construed in accordance with the laws of GDPR, without regard to its conflict of law provisions.</p>
        
                        <!-- Contact Us Section -->
                        <h6>Contact Us</h6>
                        <p>If you have any questions about these Terms, please contact us at test@gmail.com.</p>
        
                        <p class="text-muted">Last updated: 9th March 2024</p>
                    </div>
                    <form method="post">
                        <div class="modal-footer" class="text-center">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Decline</button>
                            <button type="submit" class="btn btn-primary">Accept</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">AffectoBot</a>
            <!-- Spacer div to push all nav items to the right -->
            <div class="navbar-spacer"></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto"> <!-- ml-auto will align the nav items to the right -->
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('affectobot') }}">AffectoBot</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('train') }}">Train Bot</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    

    <div class="cover-container text-center bg-secondary bg-gradient">
        <div class="container">
            <h1>Welcome to the AffectoBot</h1>
            <p class="lead">Understanding You, Word by Word</p>
            <a href="{{ url_for('affectobot') }}" class="btn btn-lg try-button btn-dark btn-gradient" role="button">Try it out</a>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <!-- Card example -->
            <div class="col-md-4">
                <div class="card bg-light bg-gradient">
                    <img src="{{ url_for('static', filename='prediction.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Predic Sentiment</h5>
                        <p class="card-text">Step into the cinematic world of movie reviews with AffectoBot. Our AI wizard is primed to unravel the sentiments hidden within your words. Share your thoughts on the latest films and let AffectoBot analyze the emotions behind your critiques. Whether it’s a blockbuster hit or an indie gem, type in your review and discover the underlying tone. Ready to see what your reviews reveal? Give AffectoBot a try!</p>
                        <a href="{{ url_for('affectobot') }}" class="btn btn-dark btn-gradient">Analyze My Review</a>
                    </div>
                </div>
            </div>
            <!-- Repeat for additional cards -->
            <div class="col-md-4">
                <div class="card bg-light bg-gradient">
                    <img src="{{ url_for('static', filename='training.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Training</h5>
                        <p class="card-text">Join forces with our friendly robot in enhancing the intelligence of neural networks. As the developer, your inputs are crucial in teaching our AI to be more accurate, more intuitive. With each data point you contribute, our model learns, adapts, and grows stronger. Your expertise could be the key to the next breakthrough in AI learning. Help us refine the future of smart technology.</p>
                        <a href="{{ url_for('train') }}" class="btn btn-dark btn-gradient">Contribute to Improvement</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light bg-gradient">
                    <img src="{{ url_for('static', filename='dis.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Dissertation</h5>
                        <p class="card-text">Explore the cornerstone project of our technology – the dissertation. Peek into the comprehensive journey undertaken to fulfill my mission: to create an AI that understands us better than we understand ourselves. From conceptual frameworks to the final product, discover the dedication and innovation behind our AI’s creation. Take a moment to delve into our research and share in our quest for progress.</p>
                        <a href="#" class="btn btn-dark btn-gradient">Discover the Journey</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
